<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="reportservice" class="com.bankonet.metier.ReportService">
		<property name="ireportgenerator" ref="htmlReport"></property>
<!-- 		<constructor-arg index="0" value="htmlReport"/> -->
	</bean>
	
	<bean id="htmlReport" class="com.bankonet.report.HtmlReportGenerator"/>
	<bean id="pdfReport" class="com.bankonet.report.PdfReportGenerator"/>
</beans>
