<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.1.xsd ">
	<context:component-scan base-package="com.bankonet" />
	<context:annotation-config />

	<bean id="reportservice" class="com.bankonet.metier.ReportService"
		scope="prototype">
		<property name="ireportgenerator" ref="htmlReport"></property>
	</bean>

	<bean id="htmlReport" class="com.bankonet.report.ReportFactory"
		factory-method="createReport" scope="singleton">
		<constructor-arg value="html" />
	</bean>

	<bean id="pdfReport" class="com.bankonet.report.ReportFactory"
		factory-method="createReport" scope="singleton">
		<constructor-arg value="pdf" />
	</bean>

	<bean id="personne" class="com.bankonet.model.Personne" scope="prototype">

	</bean>
	<bean id="adresse" class="com.bankonet.model.Adresse" scope="prototype">
		<property name="numero" value="5"></property>
		<property name="rue" value="petit sommeil"></property>
		<property name="ville" value="Repos"></property>
	</bean>
	<bean id="client" class="com.bankonet.model.Client" scope="prototype">
		<property name="login" value="login"></property>
		<property name="motDePasse" value="petit sommeil"></property>
		<property name="nom" value="DODO"></property>
		<property name="prenom" value="Petit"></property>
		<property name="id" value="1"></property>
	</bean>
</beans>
